#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: rgb(255, 160, 97);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  background-color: crimson;
  border: 1px solid black;
  border-radius: 5px;
}

#button-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#button-container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
